<!DOCTYPE html>
<html lang="en" xmlns:https="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>jinga  day57</title>
</head>
<body>
 <h1> hello world jinga </h1>
 <h3>output_name is {{name_2}}</h3>
 <h3>output age is {{age_2}}</h3>
 <h2>person gender is {{gender_2}}</h2>
 <h1>ginga age {{gender}}</h1>


  <h2>{{2+3}}</h2>
  <footer>{{jinga_updated}}</footer>
  <a href="https://api.genderize.io?name={{name_2}}">GENDER </a>
  <hr>
  <a href="https://api.agify.io?name={{name_2}}">PERSON AGE</a>

</body>
</html>